{%extends 'djangoapp/base.html'%}
{%load static%}
{%block addreview%}
    <ul class="navbar-nav">
        <li class="nav-item">
            {%with dealer_id=dealership_obj.id%}
            <a class="nav-link" href="{% url 'djangoapp:add_review' dealer_id %}">Add Review</a>
            {%endwith%}
        </li>
    </ul>
{%endblock%}
{%block content%}
<div class="container mt-2">
    {% if reviews|length > 0 %}
        <h3>Reviews for {{dealership_obj.full_name}}</h3>
    {% else %}
        {%with dealer_id=dealership_obj.id%}
        <h3 class="text-center">No reviews yet for {{dealership_obj.full_name}}</h3>
        <h5 class="text-center">Start one by clicking <a href="{% url 'djangoapp:add_review' dealer_id %}"><em>here!</em></a></h5>
        {%endwith%}
    {% endif%}
    <div class="card-columns">
        {%for review in reviews%}
            <div class="card">
                <img class="card-img-left m-2" height="50" width="50" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png"/>
                <div class="card-body bg-light">
                    <h4 class="card-title">{{review.car_make}}, {{review.car_model}}</h4>
                    <p class="card-text">{{review.car_year}}</p>
                    <p class="card-text">{{review.review}}</p>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{%endblock%}