{%extends 'djangoapp/base.html'%}
{%load static%}
{%block addreview%}
        <ul class="navbar-nav">
            <li class="nav-item">
            </li>
        </ul>
{%endblock%}
{%block content%}
<div class="card-columns container p-2">
    {%for review in reviews%}
        <div class="card">
            <img class="card-img-left m-2" height="50" width="50" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png"/>
            <div class="card-body bg-light">
                <h4 class="card-title">{{review.car_make}}, {{review.car_model}}</h4>
                <p class="card-text">{{review.review}}</p>
            </div>
        </div>
    {%endfor%}
</div>
{%endblock%}